.passwordRecovery {
   display: block;
   position: fixed;
   border: 1px solid rgb(175,175,175);
   width: 500px;
   padding: 20px;
   top: 250px;
   left: 50%;
   margin-left: -270px;
   background-color: white;
   z-index: 999999;
}
.passwordRecovery-head {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: bold;
   border-bottom:  1px solid rgb(175,175,175);
   padding-bottom: 25px;
   padding-top: 10px;
   margin-bottom: 20px;
}
.password-recovery-body-description {
   margin-bottom: 20px;
   color: black;
}
.password-recovery-body-input {
   width: calc(100% - 10px);
   height: 40px;
   padding: 0px 5px;
   margin-bottom: 20px;
}
.password-recovery-body-button {
   border: none;
   height: 50px;
   padding: 0 20px;
   font-size: 18px;
   color: white;
   background-color: rgb(56, 211, 56);
}
.cross {
   height: 3px;
   display: block;
   position: relative;
   width: 15px;
   background-color: black;
   transform: rotate(45deg);
}
.cross::after {
   content: '';
   position: fixed;
   left: 0;
   top: 0;
   height: 3px;
   display: block;
   width: 15px;
   background-color: black;
   transform: rotate(-90deg);
}
.popup-fade::before {
	content: '';
	background: white;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
   overflow-y: hidden;
}
.cross-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70px;
   height: 70px;
   cursor: pointer;
   position: absolute;
   right: 0;
}